@CHARSET "ISO-8859-1";
body.confc
{
    width: 100%;
	font-family:Arial;
	height: 50%
}
.back{
  margin-left:10px
  
  transform: translate(-50%, -50%);
}
a{
     text-decoration: none;
}
.msg {
 
  font-size: 24px;
  margin-top:200px;
  margin-left: 550px;
  margin-bottom:200px;
}

body
{
        width: 100%;
	font-family:Arial
}

#main { 
      position: fixed;
     top: 20%;
    width: 1500px;
    margin: 0 auto;
}
div#sidebar    {
	
    width: 200px;
    height: 400px;
    background: #00FFCC;
    float: left;
}

table.sidebartab
{
	width:100%;
	height:100%;
	border:1px solid black;
	
	
}
tr.sidebarRow
{
	border:1px solid black
	
}
td.sidebarCol
{
	border:1px solid black
}


p.groove {
    padding: 10px;
    border-style: groove;
    position: fixed;
    width: 680px;
    top: 35%;
    left: 48%;
    transform: translate(-50%, -50%);
  
}
#div_mar
{
	margin:10px;
}
.div_table
{
	margin-left:100px;
	margin-top:50px;
	height:360px
	
}

.tab_table
{
	width:1100px
}
.tr_table
{
	color:white;background:black
}
.td_btn
{
	border: 2px solid;box-shadow:  1px 1px 1px #888888;border-radius: 5px;
}
.tr_field
{
	text-align: center;background:#D8D8D8;
}
.tr_field2
{
	text-align: center;background:#B0B0B0
}
#formstyle_signup{
    position: fixed;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
#formstyle{
  
  margin-left:100px
  transform: translate(-50%, -50%);
}
div#new {
    position: relative;
  transform: translateY(20%);
  transform: translateX(25%);
}
div#newPass {
    position: relative;
  transform: translateY(20%);
  transform: translateX(25%);
}
div#div_studies
{
  
  margin-left:10px
  
  transform: translate(-50%, -50%);
	background:pink;
	width:150px;
	height:25px;
	padding:5px;
	padding-top:6px
	
}
div#div_studies_recommend
{
  
  margin-left:10px
  
  transform: translate(-50%, -50%);
	background:pink;
	width:180px;
	height:25px;
	padding:5px;
	padding-top:6px
	
}
#msg{
    font-style: italic;
   
   margin-left:300px
}
#buttondiv
{
	position: relative;
  transform: translateY(20%);
  transform: translateX(53%);
}

.buttonstyle
{
	
	border: 1px solid black;
        font-size:13pt;
        padding: 0.8%;
	border-radius: 5px;
	color: white;
	background-color:lightseagreen;
	
}

.newlabel {
    min-width: 200px;
    float: left;
}
.textstyle
{
	border-radius: 0px;
	font-size:13pt;
}
#divmain
{
	top:0;
	width: 100%;
	height: 90px;
	background: #F1FFD5;
	vertical-align: middle;
	line-height: 80px;
	color:green;
}
#header{
    position:absolute;
    left: 0;
    height:80px;
    background: lightgrey;
    
    width:100%;
 
}
.binheader
{
	style="float:left"
}
#b_stle
{
	float:left
}
.fontstle
{
	margin:20px
}
p.p_header
{
	color:green;
	margin: 20px
}
b.b_header
{
	float:left
}
div.div_header
{
	position:relative;left:550px;
}	

#img
{
	width:100px;
	height:90px;
}
#img2
{
	width:100px;
	height:90px;
}
div#Study
{
	background:#00FFCC;
	width:150px;
	height:30px;
	padding:5px;
	padding-top:6px
}
div#eStudy
{
	margin:10px
}
div#edit {
    position: relative;
  transform: translateY(20%);
  transform: translateX(25%);
}
.newlabel {
    min-width: 200px;
    float: left;
}

.buttonstyle
{
	
	border: 2px solid black;
	border-radius: 5px;
	color: white;
	background-color:#8000FF
	
}

.textstyle
{
	border-radius: 0px;
	font-size:13pt;
}
#imgdiv
{
	vertical-align: top;
}
.uploadstyle
{
	vertical-align: 30px;
	border-radius: 5px;
}
#divid
{
	margin-top:500px;
	height:40px;
	width:100%;
	background:#E16F6F; 
	color:white;
}
#centerid
{
	text-align:center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
#page-wrap  {
	
    width: 600px;
    background: #ffffff;
    height: 400px;
    margin-left: 220px;
}

.center {
 
  //display: block;
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loginstyle{
    position: fixed;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
a.signup {
    text-decoration: none;
    position: relative;
    left: 336px;
    color: blue;
}
.title{
 
    font-size: 2.00em;
    font-family: Arial;
    color: green;
}
.links{
    text-decoration: none;
   font-size: 1.0em;
    font-family: "Calibri";
    color: green;
}

p.backgtitle
{
	
height:30px;padding:5px;padding-top:6px;
border-style:solid;
border-color:#CC6699;

}
#imgques
{
	float:left
}
.p_pgtitle
{
	background:#00FFCC;width:20%;padding: 1px 5px 1px 5px;height:30px
}
#imgsze
{
	height:100px;
	width:100px;
}
#img
{
    
	float:inside;
	height: 50px;
	 width:50px;
}
p.parasidebar
{
	background:#00FFCC;width:20%;padding: 1px 5px 1px 5px;height:30px
}
#tabparticipate
{
	width:800px
}
tr.participate_tr
{
	color:white;background:black
}
tr.participate_tr1
{
	text-align: center;background:#D8D8D8
}
tr.participate_tr2
{
	text-align: center;background:#B0B0B0
}
#buttonstle
{
	border: 2px solid;box-shadow:  1px 1px 1px #888888;border-radius: 5px;
	
}
#buttonstle2
{
	border: 2px solid;box-shadow:  1px 1px 1px #888888;border-radius: 5px;
	
}
   #footer{
    position:absolute;
    bottom:0;
    left:0;
    background-color: crimson;
    height:50px;
    width:100%;
    font-size: 1.50em;
    font-family: "Calibri";
    text-align: center;
    color: white;
   }
td.participate_font1
{
color: #B0B0B0

}
td.participate_font2
{
color: #D8D8D8
}

